html, body {
    margin: 0px;
    padding: 0px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container {
    height: 100vh;
    width: 100vw;
}

.btn {
    margin: 20px;

}
.btn:hover {
    cursor: pointer;
}

.create-room-container {
    height: 100vh;
}

.join-room-container {
    height: 100vh;
}
